/* -------- GENERAL -------- */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f6f3; /* fondo suave eco */
  color: #2c3e50;
}




/* -------- FORMS -------- */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #c8d6c5;
  border-radius: 6px;
  transition: 0.2s;
}

input:focus {
  border-color: #27ae60;
  outline: none;
  box-shadow: 0 0 6px rgba(39,174,96,0.3);
}

button {
  padding: 10px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  background-color: #2ecc71;
}

/* -------- TITULOS GENERALES -------- */

h1, h2, h3 {
  color: #1e3131;
}
